<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {
        $("#gridContainer").dxDataGrid({
            showBorders: true,
            dataSource: {
                store: DevExpress.data.AspNet.createStore({
                    key: "ID",
                    loadUrl: "/api/Employees/Get",
                    insertUrl: "/api/Employees/Post",
                    updateUrl: "/api/Employees/Put",
                    deleteUrl: "/api/Employees/Delete"
                })
            },
            columns: [
                "FirstName",
                "LastName",
                {
                    dataField: "Picture",
                    width: 100,
                    cellTemplate: function (container, options) {
                        if (options.value)
                            $("<div>")
                                .append($("<img>", { "src": "/Content/Pictures/" + options.value }))
                                .appendTo(container);
                    }
                }
            ],
            editing: {
                mode: "form",
                allowAdding: true,
                allowUpdating: true,
                allowDeleting: true
            },
            onEditorPreparing: function (e) {
                if (e.parentType == "dataRow" && e.dataField == "Picture") {
                    e.editorName = "dxFileUploader";
                    e.editorOptions.value = [];
                    e.editorOptions.accept = "image/*";
                    e.editorOptions.elementAttr = { "data-id": (e.row.isNewRow ? -1 : e.row.key) };
                    e.editorOptions.onValueChanged = function (args) {
                        var key = args.element.attr("data-id");
                        args.component.option("uploadUrl", "/api/Employees/Upload?key=" + key);
                        e.setValue(args.value[0].name);
                    }
                }
            }
        });
    });
    //]]>
</script>

<div id="gridContainer"></div>